@model IEnumerable<Online_market.Models.Item>
@using Online_market.Data
@inject ApplicationDbContext _context
@using Online_market.Services

@inject IImageService imageService
@{
    ViewData["Title"] = "Home Page";
}


<div class="ps-banner">
    <div class="rev_slider fullscreenbanner" id="home-banner">
        <ul>
            <li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                <img class="rev-slidebg" src="~/img/3800x15001.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                <div class="tp-caption ps-banner__header" id="layer-1" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p>The Number #1 <br> Asian Market Online</p>
                </div>
                <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p class="text-uppercase">Welcome To Lan's Market</p>
                </div>
                <div class="tp-caption ps-banner__description" id="layer211" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p>We have the best product's quality ever <br> Our market will provide almost every food from Asia <br /> Best trusted online market.</p>
                </div><a class="tp-caption ps-btn" id="layer31" asp-controller="Items" asp-action="AllProduct" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Purchase Now<i class="ps-icon-next"></i></a>
            </li>
            <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                <img class="rev-slidebg" src="~/img/3800x15002.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                <div class="tp-caption ps-banner__header" id="layer20" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p>BEST ITEM <br> THIS YEAR</p>
                </div>
                <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p class="text-uppercase">Drinks and Snacks</p>
                </div>
                <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                    <p>Drinks and snacks are the most important food in our house <br> I always have drinks and snacks in my fridge <br /> Drinks, snacks, and chills.</p>
                </div><a class="tp-caption ps-btn" id="layer364" asp-controller="Items" asp-action="DrinkAndSnack" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Shop Drinks and Snacks<i class="ps-icon-next"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <h3 class="ps-section__title" data-mask="features">- Features Products</h3>
        </div>
        <div class="ps-section__content pb-50">
            <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                <div class="ps-masonry">
                    <div class="grid-sizer"></div>
                    @{
                     
                        var count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <div class="grid-item kids">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-shoe mb-30">
                                    <div class="ps-shoe__thumbnail">
                                        @if (item.ItemStatusId != _context.ItemStatus.FirstOrDefault(i => i.Name == "Normal").Id)
                                        {
                                            <div class="ps-badge"><span>@((_context.ItemStatus.FirstOrDefault(i => i.Id == item.ItemStatusId)).Name)</span></div>
                                        }
                                        @if (item.ItemSaleOffId != _context.ItemSaleOff.FirstOrDefault(i => i.Name == "None").Id)
                                        {
                                            <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>@item.ItemSaleOff.Name</span></div>
                                        }
                                        <img src="@imageService.DecodeFile(item.ImageData,item.ContentType)" alt=""><a class="ps-shoe__overlay" asp-controller="Items" asp-action="Details" asp-route-slug="@item.Slug"></a>
                                    </div>
                                    <div class="ps-shoe__content">
                                        <div class="ps-shoe__variants">
                                            <div class="ps-shoe__variant normal">
                                                @foreach (var image in item.Attachments)
                                                {
                                                    if (_context.ItemAttachmentTypes.FirstOrDefault(i => i.Id == image.ItemAttachmentTypeId).Name == "OutSide")
                                                    {
                                                        <img src="@imageService.DecodeFile(image.ImageData,image.ContentType)" alt="">
                                                    }
                                                }
                                            </div>
                                            @if (item.RateValue <= 1)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (item.RateValue > 1 && item.RateValue <= 2)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (item.RateValue > 2 && item.RateValue <= 3)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (item.RateValue > 3 && item.RateValue <= 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            }
                                        </div>
                                        <div class="ps-shoe__detail">
                                            <a class="ps-shoe__name" asp-controller="Items" asp-action="Details" asp-route-slug="@item.Slug">@item.Name</a>
                                            <p class="ps-shoe__categories"><a  asp-controller="Categories" asp-action="CategoryIndex" asp-route-slug="@item.Category.Slug">@(item.Category.Name)</a></p>
                                            @if (item.ItemSaleOffId != _context.ItemSaleOff.FirstOrDefault(i => i.Name == "None").Id)
                                            {
                                                <span class="ps-shoe__price">
                                                    <del>$@item.Price</del>$@item.ListPrice(_context, item.Price, item.ItemSaleOffId)
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="ps-shoe__price"> $ @item.Price</span>
                                            }

                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        count++;
                        if (count == 8)
                        {
                            break;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@{
    var DrinksSlug = _context.Category.FirstOrDefault(i => i.Name == "Drinks").Slug;
    var SnacksSlug = _context.Category.FirstOrDefault(i => i.Name == "Snacks").Slug;
 }

<div class="ps-section--offer">
    <div class="ps-column"><a class="ps-offer" asp-controller="Categories" asp-action="CategoryIndex" asp-route-slug="@DrinksSlug"><img src="~/img/958x4011.png" alt=""></a></div>
    <div class="ps-column"><a class="ps-offer" asp-controller="Categories" asp-action="CategoryIndex" asp-route-slug="@SnacksSlug"><img src="~/img/958x4012.png" alt=""></a></div>
</div>

<div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <h3 class="ps-section__title" data-mask="BEST SALE">- Top Sales</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
        <div class="ps-section__content">
            <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
                @{
                    var AllProductList = _context.Item.ToList().OrderBy(a => Guid.NewGuid()).ToList();
                }
                @foreach (var item in AllProductList)
                {
                    <div class="ps-shoes--carousel">
                        <div class="ps-shoe">
                            <div class="ps-shoe__thumbnail">
                                @if (item.ItemStatusId != _context.ItemStatus.FirstOrDefault(i => i.Name == "Normal").Id)
                                {
                                    <div class="ps-badge"><span>@((_context.ItemStatus.FirstOrDefault(i => i.Id == item.ItemStatusId)).Name)</span></div>
                                }
                                @if (item.ItemSaleOffId != _context.ItemSaleOff.FirstOrDefault(i => i.Name == "None").Id)
                                {
                                    <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>@(_context.ItemSaleOff.FirstOrDefault(i => i.Id == item.ItemSaleOffId).Name)</span></div>
                                }
                                <img src="@imageService.DecodeFile(item.ImageData,item.ContentType)" alt=""><a class="ps-shoe__overlay" asp-controller="Items" asp-action="Details" asp-route-slug="@item.Slug"></a>
                            </div>
                            <div class="ps-shoe__content">
                                <div class="ps-shoe__variants">
                                    <div class="ps-shoe__variant normal">
                                        @foreach (var image in item.Attachments)
                                        {
                                            if (_context.ItemAttachmentTypes.FirstOrDefault(i => i.Id == image.ItemAttachmentTypeId).Name == "OutSide")
                                            {
                                                <img src="@imageService.DecodeFile(item.ImageData,item.ContentType)" alt="">
                                            }
                                        }
                                    </div>
                                    @if (item.RateValue <= 1)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (item.RateValue > 1 && item.RateValue <= 2)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (item.RateValue > 2 && item.RateValue <= 3)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (item.RateValue > 3 && item.RateValue <= 4)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    }
                                </div>
                                <div class="ps-shoe__detail">
                                    <a class="ps-shoe__name" href="product-detai.html">@item.Name</a>
                                    <p class="ps-shoe__categories"><a href="#">@((_context.Category.FirstOrDefault(i => i.Id == item.CategoryId)).Name)</a></p>
                                    @if (item.ItemSaleOffId != _context.ItemSaleOff.FirstOrDefault(i => i.Name == "None").Id)
                                    {
                                        <span class="ps-shoe__price">
                                            <del>$@item.Price</del>$@item.ListPrice(_context, item.Price, item.ItemSaleOffId)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="ps-shoe__price"> $ @item.Price</span>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="ps-home-testimonial bg--parallax pb-80" data-background="img/background/mybackground.jpg">
    <div class="container">
        <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="~/img/testimonial/testimonial.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                <header>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>Duy Lan Le - CEO & Founder Invision</p>
                </header>
                <footer>
                    <p>“Give a man a fish, and you'll feed him for a day. Teach a man to fish, and you've fed him for a lifetime.“</p>
                </footer>
            </div>
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="~/img/testimonial/testimonial.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                <header>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>Duy Lan Le - CEO & Founder Invision</p>
                </header>
                <footer>
                    <p>“Success is not final; failure is not fatal: it is the courage to continue that counts.“</p>
                </footer>
            </div>
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="~/img/testimonial/testimonial.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                <header>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>Duy Lan Le - CEO & Founder Invision</p>
                </header>
                <footer>
                    <p>“You only have to do a few things right in your life so long as you don’t do too many things wrong.“</p>
                </footer>
            </div>
        </div>
    </div>
</div>

